{% extends "connected_nav.html" %}

{% block css %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/zoom.css') }}">
{% endblock %}

{% block title %} {{current_tender['name']}} {% endblock %}

{% block hello %} {{login_user['firstName']}} {% endblock %}
{% block content %}

{% from 'macros.html' import shareModal, changeItemModal, itemDesc, flashMessage %}

{{ flashMessage() }}

<div class="container">

  <div class="jumbotron">

    <h1>{{current_tender['name']}}</h1>
    <p>Manager: {{current_tender["owner"]}} </p>
    <div style="overflow-wrap:break-word">
      <p>{{current_tender['description']}}</p>
    </div>

    {% set daysForRanking = current_tender["daysForRanking"] %}
    <h5> last date for joining: {{(current_tender['joining_time']).strftime("%Y-%m-%d")}}</h5>
    {% if daysForRanking == 1 %}
    <h5> The ranking process will start at: {{(current_tender['joining_time'] | addDays(1)).strftime("%Y-%m-%d")}} and will end at the end of this day</h5>
    {% else %}
    <h5> The ranking process will start at: {{(current_tender['joining_time'] | addDays(1)).strftime("%Y-%m-%d")}} and will end at: {{(current_tender['joining_time'] | addDays(daysForRanking)).strftime("%Y-%m-%d")}}</h5>
    {% endif %}

    {% if login_user["email"] == current_tender["owner"]%}
    <p></p>
    <a href="/edit_tender/{{current_tender["_id"]}}/"><button type="button" class="btn btn-success" id="edit tender" >Edit</button></a>

    {% endif %}

  </div>

  <div class="container">
    <div class="row">

      <button type="button" class="btn btn-primary" id="select item" data-toggle="modal" data-target="#changeItemModal" data-whatever="@getbootstrap">
        Change item <i class="fas fa-plus"></i></button>

      <form action="/inside_of_tender/{{current_tender['_id']}}/" method="post">

        <button type="submit" class="btn btn-danger" id="exit tender">
          Leave tender <i class="fas fa-times"></i> </button>
      </form>

      <button type="button" id="share_url" data-toggle="modal" data-target="#shareModal" data-whatever="@getbootstrap">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAoklEQVR42mNgmGnMQAZ2AOKZQPwAimdCxRBqyDT0DBD/R8NnUAwnw+CZWAyF4ZmUGPwAj8EPBp3BzkB
          8mdSgwBfTMkC8EsmAW8RGHq6YPgu14DOUD6IrgNiF2OSGL6ZheDUQyxEdbEREyCcgdiU5kkmKaTIMxhcUlylxMa7Iu0VpGONKbqDYL6ckVRDCZKdjmua84VkI0bQ8plkNQrM6jygMAPbbJ6MGdtX+AAAAAElFTkSuQmCC" border="0" height="22" width="22" data-atf="1"></button>

<!-- favorite button -->
      {% if current_tender["_id"]|string in login_user["favoritesTenders"] %}
      <a href="/add_favorite/{{current_tender['_id']}}/" class="favButton"><i class="fas fa-heart" style="font-size:30px;"></i></a>

      {% else %}
      <a href="/add_favorite/{{current_tender['_id']}}/" class="favButton"><i class="far fa-heart" style="font-size:30px;"></i></a>

      {% endif %}
    </div>

    {{ shareModal(current_tender) }}

    <div class="row">

      {% for item in items.find({'inTender' : current_tender["_id"]}) %}

      <br>
      <div class="col-md-3 col-sm-6">
        <!--the screen has 12 units -->
        <div class="thumbnail">
          <div class="container">
            <br>

            <img src="/return-file/{{item['image']}}" class="zoomable zoom_in" width="90" height="90" alt="None" data-toggle="modal" data-target="#Modal{{item['_id']}}" data-whatever="@getbootstrap">

            {{ itemDesc(item, login_user) }}

            <div class="caption">
              <h6>{{item["name"]}}</h6>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!--new window when click on change item-->
    {{ changeItemModal(items, login_user, current_tender) }}

  </div>
</div>

<script src="{{ url_for('static', filename="js/current_url.js")}}"></script>

{% endblock%}
